@import "~bootstrap/scss/bootstrap.scss";

.tile {
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: green;
    border: 8px solid yellow;
    display: inline-block;
    text-align: center;
    line-height: 150px;
}